{% extends "base.html" %} {% block titulo %} Seccion de nosotros {% endblock %}
{% block contenido %}
<h1>bienvenido al manual de ayuda de la web de la tienda </h1>
<h2>Productos</h2>
<h3>    en esta pagina podras realizar 
    los pedidios de tus comidas favoritas, para eso tienes que ir a la parte de productos, elegir el que mas te guste y dar
    "Ordenar", en menos de una hora estaremos frente a su casa con su productos

    
</h3> 
<h2>admin</h2>
<h3>
    la parte de admin es solo para que los administradores gestionen el negocio, si no es un administrador ignorela</h3>

{% endblock %}
