{% extends "base.html" %} {% block titulo %} Seccion de nosotros {% endblock %}
{% block contenido %}<h2> “Somos una tienda de comida rápida que se enorgullece de
ofrecer a nuestros clientes la mejor calidad en alimentos y bebidas. Nuestro
objetivo es brindar una experiencia gastronómica única y satisfacer los gustos
de todos nuestros clientes. Nos esforzamos por utilizar ingredientes frescos y
locales en todos nuestros productos y estamos comprometidos con la
sostenibilidad y el medio ambiente. ¡Haz tu pedido en línea y te llevamos tu
comida enseguida! ¡Gracias por visitarnos!”</h2> {% endblock %}
